/*
    Author: 
        Frida Westerlund
        Eric Qvarnström 

      Description:
        Our own style/css of the website. Included in all our pages through header.php, togheter with bootstrap css. 
*/

html {
    height: 100%;
    width: 100%;
}

header {
    background-color: cornsilk;
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.appName {
    text-align: center;
    color: black;
}

h1 {
    display: inline;
}

#cocktail {
    margin-top: -1.7em;
    margin-left: -0.5em;
    display: inline;
}

.nav {
    color: black;
}

a,
a:hover {
    color: black;
    text-decoration: none;
}

.infoArea {
    text-align: center;
}


/* search field in header */

#searchField {
    background-color: white;
    display: none;
    position: absolute;
    width: 100%;
    height: auto;
    top: 100px;
    border: 1px solid gray;
    border-top: none;
    z-index: 10;
}

#searchField a {
    padding: 1em;
    font-size: 1em;
    display: block;
    transition: .3s ease all;
}

#searchField a:hover {
    background-color: #dedede;
}


/* 
## General Classes ##
*/

.btn-gray {
    background-color: gray;
    border-color: gray;
}

.btn-gray:hover {
    background-color: rgb(179, 178, 178);
    border-color: white;
    color: white;
}


/* 
## Register, Login, Profile ##
*/

#registerBody,
#loginBody,
.bg-bluegradient {
    background: rgb(2, 0, 36);
    background: linear-gradient(140deg, rgba(2, 0, 36, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(0, 212, 255, 0.14609593837535018) 100%);
    background-repeat: no-repeat;
}

#register-container,
#login-container {
    position: relative;
    margin-top: 25vh;
}

#register-container h2,
#login-container h2 {
    font-size: 2em;
}

#register-container h3,
#login-container h3 {
    font-family: courier, arial, helvetica;
    font-size: 1.2em;
}

#register-container .registration-form,
#login-container .loginform-form {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 1em;
}

.profile {
    background-color: #FBFBFB;
    -webkit-box-shadow: 4px 6px 37px 1px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 4px 6px 37px 1px rgba(0, 0, 0, 0.33);
    box-shadow: 4px 6px 37px 1px rgba(0, 0, 0, 0.33);
}

.profile .title {
    font-size: 2em;
    color: margin 0;
}

.profile .sub-title {
    font-size: 1em;
    color: gray;
    margin: 0;
}

.profile .text {
    color: darkslategray;
}

#EditProfile {
    margin-left: 100%;
}

.drink-container {
    background-color: #dedede;
    border: 1px solid white;
    border-radius: 10px;
    transition: .2s ease all;
}

.drink-container:hover {
    background-color: lightsteelblue;
}


/* ## Edit Profile ## */

#editProfilePres {
    border: 1px solid gray;
    border-radius: .5em;
}


/* drink_search */

.addDrinkField {}


/* ## AddRecipe ## */

#addRecipeBody {
    background: linear-gradient(cornsilk, white);
}


/* ## Show Recipe ## */

#profile_picture {
    width: 8em;
    height: 8em;
    overflow: hidden;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
  }
.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
     content: "\2605";
     position: absolute;
     color: gold;
}